# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'UUID Gen'
      'submenu': [
        { 'label': 'Generate', 'command': 'uuidgen:generate' }
        { 'label': 'Generate Upper Case', 'command': 'uuidgen:generate-upper-case' }
      ]
    ]
  }
]
